{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Mental Health Portal</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="body1">
	<!-- partial:index.partial.html -->
	<section class="section section-top">
		<div class="content rellax" data-rellax-speed="5">
			<h2>
				<span><img class="play rellax mr-5" src="{% static 'images/logo128.png' %}" alt="" data-rellax-speed="-1"
						data-rellax-xs-speed="-5" />NSS IIT Bombay Presents</span></h2>
			<h1>Mental health Portal</h1>

		</div>
	</section>

	<section class="section section-stream">
		
		<img
				class="play rellax"
				src="{% static 'images/back5.png' %}"
				alt=""
				data-rellax-speed="-1" data-rellax-xs-speed="-5"
			/>
			
		<div class="content rellax" data-rellax-speed="10">
			<div>
				<h2 class="secondary-text">Stream Everything</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
					dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
				</p>
			</div>
			<div>
				<h2 class="secondary-text">Short is the New Long</h2 class="secondary-text">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
					dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
				</p>
			</div>
			<div>
				<h2 class="secondary-text">Short is the New Long</h2 class="secondary-text">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
					dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
				</p>
			</div>
		</div>
	</section>

	<section class="section section-grid">
		<div class="rellax" data-rellax-speed="1" data-rellax-xs-speed="3">
			<a href="/confession/make/"><i class='fas fa-edit fa-4x secondary-text' style='font-size:45px'></i>
				<h2 style="color:white">Write a confession<span class="secondary-text dot">.</span></h2>
			</a>
			<!-- <p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
						dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
				</p> -->
		</div>
		<div class="rellax" data-rellax-speed="4" data-rellax-xs-speed="3">
			<a><i class="fas fa-users fa-3x secondary-text"></i></a>
			<h2 style="color:white">Our Team<span class="secondary-text dot">.</span></h2>
			<!-- <p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
						dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
				</p> -->
		</div>
		<div class="rellax" data-rellax-speed="7" data-rellax-xs-speed="3">
			<a href="/confession/"><i class="fas fa-book fa-3x secondary-text"></i>
				<h2 style="color:white">Timeline<span class="secondary-text dot">.</span></h2>
			</a>
		</div>
	</section>

	<!-- <footer class="footer">
      <ul>
        <li><a href="#">Faq</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Notice</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
      </ul> -->
	<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js'></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>