@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--primary-color: #2d2254;
	--secondary--color: #f5c42f;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 999;
  }

  .circular-menu .floating-btn {
    display: block;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    background-color: #8A2BE2;
    box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, .26);
    color: hsl(0, 0%, 100%);
    text-align: center;
    cursor: pointer;
    line-height: 4.5;
    outline: 0;
  }

  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 0 hsla(0, 0%, 0%, .3);
  }

  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }

  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;
  }

  .circular-menu.active .floating-btn i {
    transform: rotate(-90deg);
  }

  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    transition: all .3s ease;
  }

  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }

  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }

  .menu-item,
  .menu-item::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
  }

  .menu-item::before,
  .menu-item::after {
    background: #000;
    content: '';
    position: absolute;
    z-index: -1;
  }


  .menu-item {
    overflow: hidden;
  }

  .menu-item::after {

    height: 150%;
    left: -95%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }

  .menu-item:hover:after {
    height: 100%;
    width: 135%;
  }
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE2;
    transition: transform .3s ease, background .2s ease;
  }


  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }

  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }

  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }

  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }

  /**
   * The other theme for this menu
   */

  .circular-menu.circular-menu-left {
    right: auto;
    left: 1em;
  }

  .circular-menu.circular-menu-left .floating-btn {
    background-color: hsl(217, 89%, 61%);
  }

  .circular-menu.circular-menu-left:after {
    background-color: hsl(217, 89%, 61%);
  }

  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }

  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }

  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }

  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }

  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }


  @media only screen and (max-width: 600px){

  .circular-menu .floating-btn {
    display: block;
    width: 4.0em;
    height: 4.0em;
    border-radius: 50%;
    background-color: #503D3F;
    box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, .26);
    color: hsl(0, 0%, 100%);
    text-align: center;
    cursor: pointer;
    line-height: 4.5;
    outline: 0;
  }

  .circular-menu:after {
    display: block;
    content: ' ';
    width: 4.5em;
    height: 17em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    transition: all .3s ease;
  }

  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #503D3F;
    transition: transform .3s ease, background .2s ease;
  }


  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(0em,-6em,0);
  }

  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(0em,-11em,0);
  }

  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(0em,-16em,0);
  }

  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(0em,-21em,0);
  }

  }

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  .circular-menu {
    display: none;
  }
  .circular-menu .floating-btn i {
    font-size: 3.3em;
    line-height: 1.7 !important;
  }
  .circular-menu .floating-btn {
    width: 7em;
    height: 7em;
    line-height: 7;
  }
  .circular-menu.active .menu-item:nth-child(1) {
    transform:translate3d(0em,-10em,0);
  }

  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-4em,-7.5em,0);
  }

  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-4em,0);
  }

  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-8em,0em,0);
  }
  .circular-menu .menu-item {
    top: -8px;
    right: -9px;
  }
}

.body1 {
	font-family: 'Montserrat', sans-serif;
	background: var(--primary-color);
	color: white;
	font-size: 18px;
	line-height: 1.6;
}

h1,
h2,
h3,
p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

.btn {
	display: inline-block;
	border: 0;
	background: var(--secondary--color);
	color: #fff;
	border-radius: 20px;
	padding: 8px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.btn:hover {
	transform: scale(0.98);
}

.primary-text {
	color: var(--primary-color);
}

.secondary-text {
	color: var(--secondary--color);
}

.section {
	position: relative;
	padding: 0 20px;
}

/* Section Top */
.section-top {
	min-height: 500px;
	background: url('https://i.ibb.co/PhVR2Vh/bg1.png') no-repeat center center/cover;
}

.section-top h1 {
	font-size: 70px;
	line-height: 1.3;
}

.section-top .content {
	position: absolute;
	top: 100px;
	right: 20px;
	width: 55%;
}

/* Section Stream */
.section-stream {
	min-height: 700px;
	background: url('https://i.ibb.co/bsX6RV0/bg2.png') no-repeat center center/cover;
}

.section-stream h2 {
	font-size: 35px;
}

.section-stream .play {
	width: 27%;
	position: absolute;
	top: 100px;
	left: 50px;
}

.section-stream .content {
	position: absolute;
	width: 50%;
	top: 130px;
	right: 70px;
}

.section-stream .content > div, .section-grid > div {
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/* Section Grid */
.section-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.section-grid p {
	color: var(--text-color);
}

.section-grid .dot {
	font-size: 40px;
	padding-left: 2px;
}

/* Footer */
.footer {
	border-top: var(--text-color) 1px solid;
	padding: 30px;
	margin-top: 20px;
}

.footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
	.section-top .content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}

	.section-top {
		min-height: 200px;
		padding-top: 20px;
	}

	.section-top .content {
		text-align: center;
	}

	.section-top .content h1 {
		font-size: 45px;
	}

	.section-stream {
		min-height: 400px;
	}

	.section-stream .play {
		width: 50%;
		display: block;
		margin: 30px auto;
	}

	.section-grid {
		display: block;
		margin-top: 0;
	}

	.footer ul {
		display: block;
	}
}
